.bgc-primary{
    color: whitesmoke;
    background-color: #292F36;
}

.bgc-secondary{
    background-color: #7EA3CC;
}

.bgc-tertiary, .nav-pills .nav-link.active{
    background-color: #B3001B;
}

.bgc-light{
    background-color: whitesmoke;
}

.textc-light{
    color: whitesmoke;
}

.fs-7{
    font-size: small;
}

.nav-pills .nav-link:hover{
    color: black;
    background-color: #ffffff80;
}