.bgc-primary{
    color: black;
    background-color: #C1AE9F;
}

.bgc-primary-dark{
    background-color: #835c3f;
}

.bgc-secondary{
    color: black;
    background-color: #89937C;
}

.bgc-tertiary, .nav-pills .nav-link.active{
    color: white;
    background-color: #586BA4;
}

.bgc-light{
    background-color: whitesmoke;
}

.fs-7{
    font-size: small;
}

.nav-pills .nav-link:hover{
    color: black;
    background-color: #ffffff80;
}